html {
    font-size: 1.2em;
    margin-left: 2em;
}

button {
    padding: 8px 6px;
    border-radius: 5px;
    background-color: #DEDFF2;
}

table {
    border-spacing: 1em;
}

td {
    padding: 4px 8px;
    margin: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FFEBCD;
}